* {
  transition: all 0.5 ease-out;
}

@font-face {
  font-family: robotoThin;
  src: url(/fonts/Roboto-Thin.ttf);
}
body {
	overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #fafafa;
    color: #303030;
    font-family: robotoThin, helvetica, sans-serif;
	font-size: 20px;
}
main {
    background: #ffffff;
    border-top: 2px #FFF solid;
    min-width: 264px;
    min-height: 320px;
    width: 50%;
    padding: 1.5em;
    padding-top: 1em;
    margin: auto;
    border-radius: 2px;
    margin-top: 80px;
    position: absolute;
    left: 0;
    right: 0;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
#webcam {
	visibility: hidden;
  position: fixed;
}
.vr main {
	display: none;
}
canvas {
	position: fixed;
  top: 0;
  left: 0;
	z-index: -1;
}
.vr canvas {
	cursor: pointer;
}
#webcam-canvas {
  visibility: hidden;
}
.root {
	width: 100%;
}
h1 {
    background: black;
}
p.logo {
    vertical-align: top;
    display: inline-block;
    margin-left: 0.5em;
}
img.logo {
    width: 48px;
    height: 48px;
    display: none;
    margin-left: 0.5em;
}
input[type=button], input[type=submit] {
    padding: 0.5em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	   background-color: #FFC800;
    background: linear-gradient(to top, #FCFF4A, #FFC43E);
    font-size: 16px;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
    -webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
input[type=button]:hover, input[type=submit]:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(192, 192, 192, 0.5);
  -webkit-transition: all 0.333s ease;
  transition: all 0.333s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(127, 127, 127, 1);
}

.lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	overflow: hidden;
	text-align: center;
    z-index: 5;
}
.lightbox h3 {
	font-size: 200%;
	padding-top: 2em;
}
.lightbox.hover {
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	color: #222;
}
.applet {
  background: #FFF;
  border-radius: 2px;
  padding: 0;
  max-width: 415px;
  min-width: 320px;
  text-align: center;
  margin: auto;
  margin-top: -1em;
  margin-bottom: 2em;
  display: block !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.applet .panel {
	background: #333;
    border-top: #666 1px solid;
    border-radius: 2px;
}
.applet .panel h2 {
	width: 200px;
    margin: 0;
    display: inline;
    color: #FFF;
}
.applet table {
	 padding: 1em;
	 text-align: left;
}
.icon {
    opacity: 0.9;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
	margin-right: 0.2em;
    margin-left: 0.2em;
    display: inline-block;
	vertical-align: top;
}
.menu .icon {
	opacity : 0.9;
}
.icon.Messaging {
	display: none;
}
.icon.Messages {
	display: none;
}
.icon.text {
	font-size: 16px;
    width: 48px;
    color: rgba(0, 0, 0, 0);
}
.icon.text.showText {
	color: #303030;
	width: auto;
}
.icon.System-Settings {
	display: none;
}
.icon.Edit-Page {
	 position: absolute;
    top: -7px;
    right: -12px;
    opacity: 0.7;
    z-index: 1;
}
article.card {
	background: #FFF;
	background-size: cover;
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    min-width: 300px;
    min-height: 60px;
    max-width: 432px;
    display: inline-block;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.searchInputs {
	height: 38px;
    top: 0;
    right: 0;
    float: left;
    display: inline-block;
    background: #FFF;
    padding-right: 20px;
    border-radius: 3px;
}
.search article.card {
    background-color: #FFF;
    border-radius: 4px;
    border-top: 0;
    border-left: 0;
    padding: 0.5em;
    margin: 1em;
    margin-top: 0em;
    margin-left: 0em;
    margin-bottom: 1em;
    min-width: 300px;
    min-height: 60px;
    max-width: 432px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
}
.search .options {
	background: #FFF;
    padding-bottom: 0.25em;
    pointer-events: all;
    position: fixed;
    top: 52px;
    left: 0;
    z-index: 3;
	width: 103%;
}
.page-editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
.card h3 {
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 100;
    max-width: 214px;
}
.card h3 a {
	position: relative;
	z-index: 999999;
	color: #7D7D7D;
	text-decoration: none;
}
.card.background, .card.background h3 a {
  color: #FFF;
  padding: 1em;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
}
.card h3 a:hover {
	text-decoration: underline;
}
.card.background h3 {
  margin-top: 0 !important;
}

.iconLink {
	padding: 1em;
    position: absolute;
    left: 4px;
    top: 4px;
}
.card .icon {
	margin-left: 0;
	padding-left: 0;
}
.card .icon.close {
	opacity: 0.8 !important;
    float: right;
    margin-right: 0;
    position: relative;
    left: 0.5em;
    bottom: 0.4em;
}
.card p {
	margin-left: 52px;
    margin-top: 0;
}
.context-menu {

}
.card .file-context-menu {
    float: right;
    max-width: 50px;
    max-height: 450px;
}
.search .card .file-context-menu {
	padding-left: 0;
}
.file-context-menu .icon {
    margin-right:0;
    padding-left: 45px;
	opacity: 0.5;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.file-context-menu .icon:hover {
	opacity: 1;
}
.file-context-menu ul.context-options {
    overflow: hidden;
    position: relative;
    right: 258px;
    top: 0px;
    width: 200px;
}

.file-context-menu ul li {
    width: 100%;
    display: inline-block;
}

form.search .background ul li div span {
    color: white;
}
img.emoji {
  margin: 0.25em !important;
  display: inline !important;
  width: 36px;
  height: 36px;

}
.file-context-menu ul.context-options .icon {
    margin-bottom: 0.5em;
}
.user-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0.1em;
  padding-right: 0.33em;
  font-size: 16px;
  z-index: 8;
}
.user-menu .icon {
	opacity: 0.9;
	color: white;
}
.user-menu .icon.text {
	color: transparent;
}
.create-menu {
	position: fixed;
    top: 55px;
    left: 0px;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
    z-index: 3;
}
.create-menu .icon {
    margin-right: 0.4em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
}
.create-menu ul {
	padding-left: 0.5em;
  margin-top: 0.5em;
}
.create-menu ul li {
	list-style-type: none;
	margin-bottom: 11px;
}
form.search ul li div, .create-menu ul li div {
	position: relative;
    top: 4px;
    color: #6E6E6E !important;
    cursor: pointer;
    background-position-x: 0% !important;
    padding-left: 50px;
}
form.search div.results li div.icon {
	padding-left: 0;
	float: left;
}
form.search ul li div span, .create-menu ul li div span {
	width: 200px;
    display: inline-block;
    padding-top: 0.66em;
    padding-left: 0.4em;
}
.search ul {
	list-style-type: none;
	padding-left: 0.5em;
    pointer-events: all;
}
.search ul.results {
	float: none;
    margin: auto;
    position: absolute;
    left: -1em;
    right: 0;
    top: 19px;
    width: 100%;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: #FFF;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}
.search ul li {
	margin-bottom: 0em;
}
.search ul.results li {
	display: inline-block;
}
.search label, .search input {
	margin-right: 0em;
    float: left;
    margin-left: 11px;
    margin-top: 3px;
    position: relative;
    z-index: 999;
}
.search input[type=text] {
	margin-top: 7px;
    margin-left: 12px;
    margin-right: 0;
    font-size: 20px;
    max-width: 260px;
}
.search input[type=submit], .search input[type=button] {
	    background-size: cover;
    width: 36px;
    cursor: pointer;
    background-image: url(/images/search.png);
	background-color: #FFA500;
}

ul li div.title {
	cursor: pointer;
}
div.User-Preferences span {
	position: relative;
    bottom: 8px;
    right: 14px;
    font-size: 20px;
	color: transparent;
}
.User-Preferences .icon {
	opacity: 1;
}
input#file-upload {
	cursor: pointer;
	position: relative;
    left: -58px;
    top: -54px;
    opacity: 0;
    max-width: 185px;
    background: #FFF;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
input#file-upload:hover {
	/*opacity: 1;*/
}
.notifications-area {
	max-width: 482px;
	min-width: 120px;
	display: none;
	margin: auto;
	margin-top: 4em;
	position: fixed;
	top:0;
	right: 0px;
    font-size: 16px;
    z-index: 3;
}
.notifications-area.visible {
	display: block;
}
.notifications-area .card h3 {
    margin-top: 14px;
}
.applet-view {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3.5em;
}

.activity-view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 312px;
    z-index: 2;
}
.activity-view .grid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}
.activity-view .grid .icon {
	margin: -0.5em;
    position: relative;
    left: 1em;
    top: 1em;
    height: 72px;
    width: 72px;
    opacity: 0.75;
}

.editor {
    width: 97.5%;
    left: 1%;
    position: relative;
    top: 9px;
    min-height: 360px;
}
.file-view {

}
.list-view {

}
.vr-view {

}
.signin {

}


.cell-editor {

}
.cell-icon {
  display: inline-block;
  width: 16%;
  height: 17.6%;
}
.cell-icon.offset {

}
.chunk-menu {
  width: 35vh;
  height: 27vh;
  display: inline-block;
}
.chunk-row {
  text-align: center;
}
.chunk-row.offset {

}

form.search {
    position: static;
    top: 58px;
    left: 0px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    z-index: 3;
}
.signin div {

}
.signin div input {
	margin-left: 0em;
    margin-bottom: 1em;
    max-width: 50%;
}
.signin div input[type=text], .signin div input[type=password] {
    margin-left: 1em;
    margin-bottom: 1em;
    max-width: 50%;
    font-size: 16px;
    border: 2px solid #EBEBEB;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
}
.signin div label {
	    min-width: 80px;
    display: inline-block;
}
.menu {
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2px;
  padding-left: 9px;
  height: 50px;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  background: rgba(0, 0, 0, 0.86);
  z-index: 8;
}
.emojis {
	font-size: 42px;
    overflow: hidden;
    word-break: break-all;
    color: rgba(43, 44, 122, 0.76);
    line-height: 1.5em;
}
.file-browser {
    background: #fafafa;
    z-index: 99999;
}
.file-properties {

}

.text-editor {

}
.image-editor {

}
.model-editor {

}
.terminal {

}
.sharing {

}
.settings {

}
.messaging {

}
.emojis span {
	padding: 0.5em;
	display: inline-block;
	margin: 0.25em;
	font-size: 32px;
}

@media screen and (min-width: 961px) {
	main {
    min-height: 148px;
    margin-top: 1em;
    width: 66.6% !important;
    max-width: 960px;
    margin-left: 100px;
	}
    .card h3 {
        max-width: auto;
    }
    .card.background h3 {
      opacity: 0;
      margin-top: 0.25em;
    }
    .card.background:hover h3 {
      opacity: 1;
    }
    .card.background .icon {
      opacity: 0;
    }
    .card.background:hover .icon {
      opacity: 1;
    }
	form.search {
		position: fixed;
		top: 0px;
		left: 0px;
		text-align: center;
		padding: 0.25em;
		overflow-y: hidden;
		border-top-right-radius: 3px;

	}
	.search div.results {
		position: fixed;
		overflow-x: hidden;
		max-width: 66%;
		background: rgba(255, 255, 255, 0.34);
		left: 25%;
		padding-bottom: 1em;
		border-radius: 3px;
	}
	form.search ul li div span, .create-menu ul li div span {
		padding-top: 0em;
	}
	.search ul.modes {
		padding-left: 0;
		float: left;
		position: fixed;
		left: 72px;
		padding-left: 11px;
		top: 200px;
		width: 156px;
		background: rgba(255,255,255,0.9);
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
		margin-bottom: 0;
		margin-top: 0;
		position: inherit !important;
	}
	.search .card.background {
		min-width: 320px;
    	min-height: 320px;
	}
	.search div.options {
		background: transparent;
		width: 294px;
		margin: auto;
		height: auto;
		border-top-right-radius: 3px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	.search ul.results {
    top: 42px;
    padding-top: 1em;
    margin-top: 0em;
    max-height: 86%;
    overflow-y: auto;
    max-width: 58%;
    border-radius: 3px
	}
	.search ul li div {
		float: left;
		margin-bottom: 1em;
	}
	.search input[type=text] {
		margin-top: 7px;
		background-color: rgba(0, 0, 0, 0);
		color: #FFF;
		border: 0;
		border-bottom: 2px solid rgba(255, 255, 255, 0.27);
	}
	.searchInputs {
		height: 44px;
		right: 0;
		float: none;
		background: rgba(0, 0, 0, 0.41);
		padding-right: 20px;
	}
    .menu {
        width: 60px;
		left: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9) !important;
		background: white;
		margin-top: 0 !important;
		border-right: 2px rgba(0, 0, 0, 0.26) solid;
		padding-top: 10px;
		padding-left: 10px;
    }
	.create-menu {
		top: 72px;
		left: 72px;
		background: rgba(255, 255, 255, 0.9);
		width: auto;
		box-shadow: none;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.create-menu ul {
        padding-left: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		width: 200px;
	}
	.activity-view {
		width: 100%;
		height: 100%;
		min-height: 932px;
	}
	.applet-view {
		padding-top: 0;
	}
	.file-browser {
		max-width: 1900px;
		height: 66.6%;
		min-height: 800px;
		width: 100%;
	}
	.icon.text {
		color: #303030;
		padding-top: 1em;
		padding-right: 0.25em;
		text-align: left;
		width: 100px;
		height: 32px;
		vertical-align: top;
		background-position-x: 100%;
	}
	div.User-Preferences span {
		color: white;
	}
	.User-Preferences.icon.text {
		padding-top: 17px;
		padding-right: 0.25em;
		text-align: left;
		height: 32px;
	}
	.menu .icon {
		opacity: 1;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-right: 0em;
    	margin-left: 0em;
	}
	.icon.Messaging {
		display: inline-block !important;
	}
	.icon.System-Settings {
		display: inline-block !important;
	}
	.icon.Messages {
		display: inline-block !important;
	}
	.icon.Edit-Page {
		top: 0;
		right: 0;
	}
	.notifications-area {
		width: 33.3%;
		display: inline-block;
		padding-bottom: 1em;
		border-bottom-left-radius: 7px;
		border-top-left-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 7px;
		background-color: rgba(255, 255, 255, 0.592157);
	}
	img.logo {
		display: inline-block;
	}
}
