@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans-Light.ttf);
}

body {
	overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #fafafa;
    color: #303030;
/*    font-family: verdana, sans-serif;*/
/*    font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

main {
    background: rgba(255, 255, 255, 0.94);
    border-top: 2px #FFF solid;
    max-width: 1920px;
    min-width: 264px;
    min-height: 320px;
    width: 50%;
    padding: 1.5em;
    padding-top: 1em;
    margin: auto;
    border-radius: 2px;
    margin-top: 80px;
    position: absolute;
    left: 0;
    right: 0;
}

canvas {
	position: fixed;
	z-index: -1;
}

.root {
	width: 100%;
}

h1 {
    background: black;
}

p.logo {
    vertical-align: top;
    display: inline-block;
    margin-left: 0.5em;
}

img.logo {
    width: 48px;
    height: 48px;
    display: none;
    margin-left: 0.5em;
}

input[type=button], input[type=submit] {
    padding: 0.5em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background: #0095FF;
    font-size: 16px;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
    -webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

input[type=button]:hover, input[type=submit]:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}


.applet {

}

.icon {
    opacity: 0.9;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
	margin-right: 0.2em;
    margin-left: 0.2em;
    display: inline-block;
	vertical-align: top;
}

.menu .icon {
	opacity : 0.75;
}

.icon.Messaging {
	display: none;
}

.icon.Messages {
	display: none;
}


.icon.text {
	font-size: 16px;
    width: 48px;
    color: rgba(0, 0, 0, 0);
}

.icon.text.showText {
	color: #303030;
	width: auto;
}

.icon.System-Settings {
	display: none;
}


article.card {
	background: #FFF;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    min-width: 300px;
    min-height: 60px;
    max-width: 432px;
    display: inline-block;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.search article.card {
	background: #FFF;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em;
    margin-top: 1em;
    margin-left: 0em;
    margin-bottom: 0;
    min-width: 300px;
    min-height: 60px;
    max-width: 432px;
}
.search .options {
	background: #FFF;
    padding-bottom: 0.25em;
}


.card h3 {
	display: inline-block;
    vertical-align: top;
    margin-top: 19px;
    margin-bottom: 0;
    font-size: 16px;
}

.card .icon {
	margin-left: 0;
	padding-left: 0;
}

.card .icon.close {
	opacity: 0.8 !important;
    float: right;
    margin-right: 0;
    position: relative;
    left: 0.5em;
    bottom: 0.4em;
}
.card p {
	margin-left: 52px;
    margin-top: 0;
}
.context-menu {

}
.card .file-context-menu {
    float: right;
}
.search .card .file-context-menu {
	padding-left: 0;
}
.file-context-menu .icon {
    margin-right:0;
	opacity: 0.2;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.file-context-menu .icon:hover {
	opacity: 1;
}
.user-menu {
	position: fixed;
    top: 0;
    right: 0;
    padding-top: 0.4em;
    padding-right: 0.33em;
    font-size: 16px;
}
.user-menu .icon {
	opacity: 0.75;
	color: white;
}
.user-menu .icon.text {
	color: transparent;
}
.create-menu {
	position: fixed;
    top: 72px;
    left: 0px;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
.create-menu .icon {
    margin-right: 0.4em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
}
.create-menu ul {
	padding-left: 0.5em;
}
.create-menu ul li {
	list-style-type: none;
	margin-bottom: 11px;
}
form.search ul li div, .create-menu ul li div {
	position: relative;
    top: 4px;
    color: #6E6E6E !important;
    cursor: pointer;
    background-position-x: 0% !important;
    padding-left: 50px;
}
form.search div.results li div.icon {
	padding-left: 0;
	float: left;
}
form.search ul li div span, .create-menu ul li div span {
	width: 200px;
    display: inline-block;
    padding-top: 0.66em;
    padding-left: 0.4em;
}
.search ul {
	list-style-type: none;
	padding-left: 0.5em;
}
.search ul.results {
	float: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    width: 100%;
    padding-bottom: 1em;
    max-height: 100%;
    background: #FFF;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    border-radius: 12px;
}

.search ul li {
	margin-bottom: 1em;
}
.search ul.results li {
	display: inline;
}
/*
.search div.results {
	float: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    width: 100%;
	max-height: 100%;
    max-width: 640px;
    background: rgba(255, 255, 255, 0.64);
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    border-radius: 12px;
}
*/

.search label, .search input {
	margin-right: 0em;
    float: left;
    margin-left: 1em;
    margin-top: 3px;
    position: relative;
    z-index: 999;
}
.search input[type=text] {
	margin-top: 7px;
    margin-left: 1em;
    margin-right: 0;
    font-size: 20px;
    max-width: 230px;
}

ul li div.title {
	cursor: pointer;
}

div.User-Preferences span {
	position: relative;
    bottom: 8px;
    right: 14px;
    font-size: 20px;
	color: transparent;
}

.User-Preferences .icon {
	opacity: 1;
}


input#file-upload {
	cursor: pointer;
	position: relative;
    left: -58px;
    top: -30px;
    opacity: 0;
    max-width: 185px;
    background: #FFF;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

input#file-upload:hover {
	opacity: 1;
}

.notifications-area {
	max-width: 466px;
	min-width: 120px;
	display: none;
	margin: auto;
	margin-top: 4em;
	position: fixed;
	top:0;
	right: 0px;
    font-size: 16px;
}

.notifications-area.visible {
	display: block;
}

.notifications-area .card h3 {
    margin-top: 14px;
}

.activities-view {
	display: none;
}

.activities-view.visible {
	display: block;
}

.editor {

}

.file-view {

}

.list-view {

}

.vr-view {

}

.signin {

}

form.search {
    position: fixed;
    top: 58px;
    left: 0px;
    background: transparent;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.signin div {

}

.signin div input {
	margin-left: 0em;
    margin-bottom: 1em;
    max-width: 50%;
}

.signin div input[type=text], .signin div input[type=password] {
    margin-left: 1em;
    margin-bottom: 1em;
    max-width: 50%;
    font-size: 16px;
    border: 2px solid #EBEBEB;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
}

.signin div label {
	    min-width: 80px;
    display: inline-block;
}


.menu {
	font-size: 16px;
	position: fixed;
    top: 0;
    left: 0;
    padding-top: 6px;
    padding-left: 9px;
    height: 52px;
    width: 100%;
   	background: white;
	border-bottom: 2px rgba(0, 0, 0, 0.26) solid;
}

.emojis {
	font-size: 42px;
    overflow: hidden;
    word-break: break-all;
    color: rgba(43, 44, 122, 0.76);
    line-height: 1.5em;
}

.file-browser {

}
.file-properties {

}

.text-editor {

}
.image-editor {

}
.model-editor {

}
.terminal {

}
.sharing {

}
.settings {

}
.messaging {

}
.emojis span {
	padding: 0.5em;
	display: inline-block;
	margin: 0.25em;
	font-size: 32px;
}


@media screen and (min-width: 961px) {
	main {
		margin-top: 1em;
	}
	form.search {
		position: fixed;
		top: 0px;
		left: 72px;
		text-align: center;
		padding: 0.25em;
		overflow-y: hidden;
		border-top-right-radius: 3px;

	}
	.search div.results {
		position: fixed;
		overflow-x: hidden;
		max-width: 50%;
		background: rgba(255, 255, 255, 0.34);
		left: 25%;
		padding-bottom: 1em;
		border-radius: 3px;
	}

	form.search ul li div span, .create-menu ul li div span {
		padding-top: 0em;
	}
	.search ul {
		padding-left: 0;
		float: left;
		position: fixed;
		left: 72px;
		padding-left: 11px;
		top: 200px;
		width: 283px;
		background: rgba(255,255,255,0.9);
		border-bottom-right-radius: 3px;
		margin-bottom: 0;
		margin-top: 0;
		position: inherit !important;
	}
	.search div.options {
		background: rgba(255, 255, 255, 0.9);
		width: 294px;
		margin: auto;
		height: auto;
		position: fixed;
		left: 72px;
		top: 157px;
		border-top-right-radius: 3px;
	}
	.search ul.results {
		max-width: 50%;
	}
	.search ul li div {
		float: left;
		margin-bottom: 1em;
	}
	.search input[type=text] {
		margin-top: 7px;
    	max-width: 169px;
	}
    .menu {
        width: 60px;
		left: 0;
		height: 100%;
		background: rgba(0, 0, 0, 0.47) !important;
		background: white;
		margin-top: 0 !important;
		border-right: 2px rgba(0, 0, 0, 0.26) solid;
		padding-top: 10px;
		padding-left: 10px;
    }
	.create-menu {
		top: 72px;
		left: 72px;
		background: rgba(255, 255, 255, 0.9);
		width: auto;
		box-shadow: none;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.create-menu ul {
		 padding-left: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		width: 200px;
	}
	.icon.text {
		color: #303030;
		padding-top: 1em;
		padding-right: 0.25em;
		text-align: left;
		width: 100px;
		height: 32px;
		vertical-align: top;
		background-position-x: 100%;
	}
	div.User-Preferences span {
		color: white;
	}
	.User-Preferences.icon.text {
		padding-top: 17px;
		padding-right: 0.25em;
		text-align: left;
		height: 32px;
	}
	.menu .icon {
		opacity: 1;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-right: 0em;
    	margin-left: 0em;
	}

	.user-menu .icon {
		opacity: 1;
	}

	.icon.Messaging {
		display: inline-block !important;
	}
	.icon.System-Settings {
		display: inline-block !important;
	}
	.icon.Messages {
		display: inline-block !important;
	}
	.notifications-area {
		width: 33.3%;
		display: inline-block;
		padding-bottom: 1em;
		border-bottom-left-radius: 7px;
		border-top-left-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 7px;
		background-color: rgba(255, 255, 255, 0.592157);
	}
	img.logo {
		display: inline-block;
	}
}
