body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    color: #212121;
    font-family: verdana, sans-serif;
}

main {
    background: #FFF;
    border: 2px #E5E5E5 solid;
    max-width: 1920px;
    min-width: 320px;
    width: 50%;
    padding: 3em;
    padding-top: 1em;
    margin: auto;
    margin-top: 0;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.root {
	width: 100%;
}

h1 {
    background: black;
}

p.logo {
    vertical-align: top;
    display: inline-block;
    margin-left: 0.5em;
}

img.logo {
    width: 48px;
    height: 48px;
    display: none;
    margin-left: 0.5em;
}

input[type=button] {}

.applet {

}

.icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.card {

}

.context-menu {

}

.editor {

}

.file-view {

}

.list-view {

}

.vr-view {

}


.menu {
	position: fixed;
	top: 0;
}

.emojis {
	font-size: 30px;
    overflow: hidden;
    word-break: break-all;
}

.text-editor {

}

.image-editor {

}

.model-editor {

}

.terminal {

}

.sharing {

}

.settings {

}

.messaging {

}

.emojis span {
	padding: 0.5em;
	display: inline-block;
	margin: 0.25em;
	font-size: 32px;
}




@media screen and (min-width: 641px) {
    .menu {
        width: 60px;
    	left: 0;
    	height: 100%;
		background: #FFF;
		border-right: 2px #E5E5E5 solid;
		padding-top: 10px;
		padding-left: 10px;
    }

	img.logo {
		display: inline-block;
	}
}
